<form form-for="biens" validation-rules="validation" valid="formIsValid">
	<div layout="row" layout-align="start center">
		<collection-label attribute="associes" label="Biens"></collection-label>
		<div class="md-button md-fab md-mini md-primary" ng-click="addBien()">
    		<i class="fa fa-plus"></i>
  		</div>
	</div>
	<md-list ng-repeat="bien in biens.biens">
		<md-divider ></md-divider>
		<md-list-item layout="row" layout-wrap>
			<div layout="row" flex="100">
				<text-field attribute="biens[{{$index}}].name" label="Nom" flex="16"></text-field>

				<text-field attribute="biens[{{$index}}].address" label="N° et rue" flex="20"></text-field>

				<text-field attribute="biens[{{$index}}].cp" label="Code postale" flex="20"></text-field>

				<text-field attribute="biens[{{$index}}].city" label="Ville" flex="20"></text-field>
			</div>
			<!-- <div layout="row">
				<file-field attribute="biens[{{$index}}].photo" label="Photos" label-button="Choisissez les images"></file-field>
			</div>
			<div layout="row">
				<md-card ng-repeat="photo in biens[{{$index}}].photos">
					<img ng-src="{{photo | assets}}" src="{{photo | assets}}" class="md-card-image" alt="Washed Out" style="width: 100px">
					<div class="md-actions" layout="row" layout-align="end center">
						<div ng-click="deletePicture($index)" class="md-button">Delete</div>
					</div>
				</md-card>
			</div> -->
		</md-list>
	</div>
</form>
