<form form-for="biens" validation-rules="validation" valid="formIsValid">
	<div layout="row" layout-align="start center">
		<collection-label attribute="associes" label="Biens"></collection-label>
		<div class="md-button md-fab md-mini md-primary" ng-click="addBien()">
    		<i class="fa fa-plus"></i>
  		</div>
	</div>
	<div layout="row" layout-wrap>
		<md-list layout="row" flex="20" ng-repeat="bien in biens.biens">
			<md-divider md-vertical></md-divider>
			<md-list-item layout="column" layout-align="start start">
				<div layout="row" style="width: 100%">
					<text-field attribute="biens[{{$index}}].name" label="Nom" flex="16"></text-field>
				</div>
				<div layout="row" style="width: 100%">
					<text-field attribute="biens[{{$index}}].address" label="N° et rue" flex></text-field>
				</div>
				<div layout="row">
					<text-field attribute="biens[{{$index}}].cp" label="Code postale" flex="50"></text-field>

					<text-field attribute="biens[{{$index}}].city" label="Ville" flex="50"></text-field>
				</div>
			</md-list-item>
			<md-divider md-vertical></md-divider>
		</md-list>
	</div>
</form>
