<div class="row">
	<div class="page-header">
		<h2>
			{{title_form_sci}}
		</h2>
	</div>
	<mt-wizard btn-progress-color="#D8D8D8" btn-bg-color="#FAFAFA" active-btn-bg-color="#E9E9E9">
		<mt-wz-step title="Créer la sci ainsi que les associé(e)(s)" on-exit="SubmitSci(addSci)" on-back-exit="ReturnSubmitSci(addBien)">
			<form name="addSci" sf-schema="schema" sf-form="form" sf-model="sci" class="row">

			</form>
		</mt-wz-step>
		<mt-wz-step title="Créer les biens immobiliers" on-exit="SubmitBien(addBien)">
			<form name="addBien" sf-schema="schemaBien" sf-form="formBien" sf-model="bien" class="row">

			</form>
		</mt-wz-step>
	</mt-wizard>
</div>
