<nav controller="ResponsiveController" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" layout="row" layout-align="space-between center">
	<div class="navbar-header">
		<md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
			MENU
		</md-button>
		<h1><a class="navbar-brand" href="index.html">Locloud</a></h1>
	</div>
    <md-menu>
        <md-button class="md-icon-button"  aria-label="Open profile menu" ng-click="$mdOpenMenu()">
            <i md-menu-origin class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button layout="row" layout-align="start center">
                    <i class="fa fa-user fa-fw"></i> User Profile
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button layout="row" layout-align="start center">
                    <i class="fa fa-gear fa-fw"></i> Settings
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ui-sref="logout" layout="row" layout-align="start center">
                    <i class="fa fa-sign-out fa-fw"></i> Déconnexion
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</nav>
<div class="column">
	<md-sidenav ui-view="menu" md-sidenav-sidebar style="{{style}}" md-component-id="sidebar" md-is-locked-open="$mdMedia('gt-md')">

	</md-sidenav>
	<div ui-view="main" class="col-md">
	</div>
</div>
