<div class="form-group" ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}">
	<label class="control-label" ng-show="showTitle()">
		{{form.title}}
	</label>
	<div ngf-drop ngf-select ng-model="files" class="drop-box"
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*">
				Glissez les images ici ou cliquer pour les choisir
	</div>
  <div ngf-no-file-drop>Drag and Drop non supporté</div>
	<!--<img ngf-thumbnail="files[0]" class="thumb">-->
	<div thumbnail ng-repeat="file in files">
	</div>
</div>
	<!--
	<img ngf-src="files[0]"
		ngf-default-src="/data/img/"
		ngf-min-size='10'
		ngf-max-size='10' />
	<div class="drop-box-thumbnail">
		<ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
    </ul>

	</div>

	<div class="form-group">
		<div class="gallery-box">
			<span ng-show="$$value$$.file_name" class="title">
				{{$$value$$.file_name}}
			</span>
			<div ng-if="form.uploadOptions.modal.flow.imageOnly" class="img-thumbnail">
				<img width="200"  />
			</div>
			<button type=\"button\" class="{{form.uploadOptions.cssClass || 'btn btn-sm btn-flat btn-success'}}" data-template="assets/upload/file.html" bs-modal="{{form.uploadOptions.modal}}" >
				{{'buttons.upload_file'}}
			</button>
      <input type="hidden" sf-changed="form" ng-model="$$value$$" schema-validate="form" />
			<span class="help-block">
				{{ (hasError() && errorMessage(schemaError())) || form.description}}
			</span>
		</div>
			<div class="clearfix"></div>
	</div>-->
</div>
