<div class="row">
	<div class="page-header">
		<h2>
			{{title}}
		</h2>
	</div>
	<form form-for="locataire" validation-rules="validation" valid="formIsValid" ng-submit="submit()">
		<div layout="row">
			<select-field label="Type" prevent-default-option attribute="type" options="typeOption" flex="33"></select-field>
		</div>
		<div layout="row">
			<select-field label="Civilité" prevent-default-option attribute="civilite" options="civiliteOption" flex="33"></select-field>

			<text-field attribute="prenom" label="Prénom" flex="16"></text-field>

			<text-field attribute="nom" label="Nom" flex="16"></text-field>

			<text-field attribute="birthday" label="Date de naissance" type="date" flex="16"></text-field>

			<text-field attribute="city_birthday" label="Lieu de naissance" flex="16"></text-field>
		</div>
		<div layout="row">
			<text-field attribute="email" label="Email" flex="33" > </text-field>

			<text-field attribute="fax" label="Fax" flex="33" > </text-field>

			<text-field attribute="portable" label="Portable" flex="33" > </text-field>
		</div>
		<div layout="row">
			<text-field attribute="profession" label="Profession" flex="50" > </text-field>

			<text-field attribute="revenus" label="Revenus" flex="50" > </text-field>
		</div>
		<div layout="row">
			<text-field attribute="information" label="Information complémentaires" flex="50" multiline> </text-field>

			<text-field attribute="new_address" label="Nouvelle adresse" flex="50" > </text-field>
		</div>
		<div layout="row">
			<text-field attribute="garant" label="Garant(s)" flex multiline> </text-field>
		</div>
		<div layout="row">
			<text-field attribute="code_banque" label="Code banque" flex="20" > </text-field>

			<text-field attribute="code_guichet" label="Code guichet" flex="20" > </text-field>

			<text-field attribute="num_compte" label="Numéro de compte" flex="20" > </text-field>

			<text-field attribute="key_rib" label="Clé RIB" flex="20" > </text-field>

			<text-field attribute="banque" label="Banque" flex="20" > </text-field>
		</div>
		<div layout="row">
			<text-field attribute="iban" label="IBAN" flex="20" > </text-field>

			<text-field attribute="swift_bic" label="Swift/bic" flex="20" > </text-field>
		</div>
		<div layout="row">
			<file-field attribute="photo" label="Photos" label-button="Choisissez les images"></file-field>
		</div>
		<div layout="row">
			<md-card ng-repeat="photo in lot.photos">
				<img ng-src="{{photo | assets}}" src="{{photo | assets}}" class="md-card-image" alt="Washed Out" style="width: 100px">
				<div class="md-actions" layout="row" layout-align="end center">
					<div ng-click="deletePicture($index)" class="md-button">Delete</div>
				</div>
			</md-card>
		</div>
		<div layout="row" layout-align="end">
			<submit-button disable="disable" label="Enregistrer" button-class="md-primary md-raised md-button"></submit-button>
		</div>
	</form>
</div>
